@using YapayAntenor.Models.EntityFramework
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<TBL_Yorumlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/table2/css/util.css">
<link rel="stylesheet" type="text/css" href="~/table2/css/main.css">

<!--===============================================================================================-->
<br />
<h2>Yorum Sayfası</h2>
<br />

<table class="table table-bordered">
    <tr style="background-color: #36304a; color: white;">
        <th>ID</th>
        <th>KULLANICI ADI</th>
        <th>E-MAİL</th>
        <th>YORUM</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.YorumID</th>
            <th>@x.KullaniciAdi</th>
            <th>@x.Mail</th>
            <th>@x.Yorum</th>
            <th><a class="btn btn-danger" href="/AdminYorum/YorumSil/@x.YorumID">SİL</a></th>
            <th><a class="btn btn-warning" href="/AdminYorum/YorumGetir/@x.YorumID">GÜNCELLE</a></th>
        </tr>
    }
</table>
<br />

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa })
, new PagedListRenderOptions
{
    LiElementClasses = new List<string>
     { "page-link"},
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,

})
